* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #FF9A4B;
  height: 50px;
}

main {
  padding: 50px;
}

.content-image {
  width: 300px;
  height: 150px;
}

.content-image1 {
  background-image: url(img/flow01.png);
}

.content-image2 {
  background-image: url(img/flow02.png);
}

.content-image3 {
  background-image: url(img/flow03.png);
}

footer {
  background-color: #AAAAAA;
  height: 50px;
}