* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #FF9A4B;
  height: 50px;
}

main {
  padding: 50px;
  display: flex;
}

.content {
  width: 300px;
  background-color: #EEEEEE;
  padding: 10px;
}

.content-image {
  height: 150px;
}

.step1 {
  background-image: url(img/flow01.png);
}

.step2 {
  background-image: url(img/flow02.png);
}

.step3 {
  background-image: url(img/flow03.png);
}

.content-text h3 {
  padding-top: 15px;
}

.content-text p {
  padding-top: 5px;
}

footer {
  background-color: #AAAAAA;
  height: 50px;
}