* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.b {
  padding-top: 200px;
  background-size: cover;
}

.box1 {
  background-image: url(img/box1.jpg);
}
.box2 {
  background-image: url(img/box2.jpg);
}
.box3 {
  background-image: url(img/box3.jpg);
}
.box4 {
  background-image: url(img/box4.jpg);
}