* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lists {
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;
}

.list {
  padding: 20px;
}

.list:nth-child(odd) {
  background-color: gray;
}

.boxes {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px
}

.box {
  height: 200px;
  width: 30%;
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box:nth-child(1) {
  background-color: orange;
}

.box:nth-child(5) {
  background-color: orange;
}

.box:nth-child(9) {
  background-color: orange;
}

.box:nth-child(3n) {
  margin-right: 0;
}